<script id="frame_index" type="text/x-handlebars-template">
    <div class="page-index">
        <div data-frame="index_head" data-editable="1" data-edit-tab="0"></div>
        <div id="page">
            <div class="layout" style="height:550px"></div>
        </div>
        <div data-frame="customer_service" data-editable="1" data-edit-tab="0"></div>
        <div data-frame="global_foot"></div>
    </div>
</script>

<script id="frame_login" type="text/x-handlebars-template">
    <div class="page-login">
        <div data-frame="index_head"></div>
        <div data-frame="login_page" data-editable="1" data-edit-tab="0"></div>
        <div data-frame="global_foot"></div>
    </div>
</script>

<script id="frame_list" type="text/x-handlebars-template">
    <div data-frame="index_head"></div>
    <div data-frame="item_list" data-editable="1" data-edit-tab="0"></div>
    <div data-frame="customer_service"></div>
    <div data-frame="global_foot"></div>
</script>

<script id="frame_detail" type="text/x-handlebars-template">
    <div data-frame="index_head"></div>
    <div data-frame="item_detail" data-editable="1" data-edit-tab="0"></div>
    <div data-frame="customer_service"></div>
    <div data-frame="global_foot"></div>
</script>

<script id="frame_myshop" type="text/x-handlebars-template">
    <div data-frame="myshop_head" data-editable="1" data-edit-tab="0"></div>
</script>

<script id="frame_global" type="text/x-handlebars-template">
    <div class="page-index">
        <div data-frame="index_head"></div>
        <div id="page">
            <div class="layout" style="height:550px"></div>
        </div>
        <div data-frame="customer_service" data-editable="1" data-edit-tab="1"></div>
        <div data-frame="global_foot" data-editable="1" data-edit-tab="0"></div>
    </div>
</script>