{{#with frame_setting}}
{{#with detail_head.data}}
<!--<div class="setting-tab-item" data-setting-title="页面设置">
    <div class="setting-body-in">
        <div class="form-horizontal">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">头部背景色</label>
                        <div class="controls">
                            <div class="colorSelect" data-name="detail_head.bgcolor" data-value="{{bgcolor}}" data-tag="detail_head.bgcolor"></div>
                        </div>
                    </div>
                </div>
            </div>
{{/with}}
{{#with detail_suspension.data}}
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">悬浮按钮颜色</label>
                        <div class="controls">
                            <div class="colorSelect" data-name="detail_suspension.color" data-value="{{color}}" data-tag="detail_suspension.color"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{/with}}
{{#with detail_head.data}}
        <div class="form-vertical">

            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">右侧图标
                            <span class="auxiliary-text">每个图标2个字以内</span>
                        </label>

                        <div class="controls control-row-auto">
                            <div class="colorSelect" data-name="detail_head.icoColor" data-value="{{icoColor}}" data-tag="detail_head.icoColor"></div>
                            <div class="settingTable" data-max-count="1" data-name="detail_head.icoList" data-tag="detail_head.icoList" data-value='{{{json icoList}}}'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{{/with}}
{{/with}}