{{#with frame_setting}}
{{#with global_foot.data}}
<div class="setting-tab-item" data-setting-title="底部设置">
    <div class="setting-body-top">
        <ul>
            <li><label><input id="showFoot_checkbox" data-tag="global_foot.show" type="checkbox" {{#if show}}checked{{/if}}/>&nbsp;在前台商城显示<span class="auxiliary-text">（不包含买家中心和卖家中心）</span></label></li>
        </ul>
    </div>
    <div class="setting-body-in">
        <div class="form-horizontal">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">背景色</label>
                        <div class="controls">
                            <div class="colorSelect"  data-name="global_foot.bgcolor" data-value="{{bgcolor}}" data-tag="global_foot.bgcolor"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">返回顶部图标</label>

                        <div class="controls control-row-auto">
                            <div class="imageSelect" data-name="global_foot.gotop" data-tag="global_foot.gotop" data-value="{{gotop}}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">底部内容编辑</label>

                        <div class="controls control-row-auto">
                            <div class="richText" data-name="global_foot.content" data-width="320" data-tag="global_foot.content" data-value="{{content}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{/with}}

{{#with color_setting}}
    <div class="setting-tab-item" data-setting-title="颜色设置">
        <div class="setting-body-in">
            <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="span24">
                        <div class="control-group">
                            <label class="control-label">全局颜色</label>
                            <div class="controls">
                                <div class="colorSelect" data-name="color_setting.themeColor"  data-value="{{themeColor}}" data-tag="color_setting.themeColor"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/with}}