<script id="frame_index" type="text/x-handlebars-template">
    <div data-frame="index_head" data-editable="1" data-edit-tab="0"></div>
    <div class="container">
        <div class="containerwrap"></div>
    </div>
    <div data-frame="menu" data-editable="1" data-edit-tab="1"></div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="2"></div>
</script>

<script id="frame_category" type="text/x-handlebars-template">
    <div data-frame="category_head" data-editable="1" data-edit-tab="0"></div>
    <div class="container">
        <div class="containerwrap"></div>
    </div>
    <div data-frame="menu"></div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="1"></div>
</script>

<script id="frame_list" type="text/x-handlebars-template">
    <div data-frame="list_head" data-editable="1" data-edit-tab="0"></div>
    <div data-frame="list_sort" data-editable="1" data-edit-tab="1"></div>
    <div class="container">
        <div class="containerwrap"></div>
    </div>
    <div data-frame="menu"></div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="2"></div>
</script>

<script id="frame_detail" type="text/x-handlebars-template">
    <div data-frame="detail_head" data-editable="1" data-edit-tab="0"></div>
    <div class="container">
        <div class="containerwrap"></div>
        <div data-frame="detail_suspension"></div>
    </div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="1"></div>
</script>

<script id="frame_myshop" type="text/x-handlebars-template">
    <div data-frame="myshop_head" data-editable="1" data-edit-tab="0"></div>
    <div class="container">
        <div class="containerwrap"></div>
    </div>
    <div data-frame="myshop_menu" data-editable="1" data-edit-tab="1"></div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="2"></div>
</script>

<script id="frame_sellerindex" type="text/x-handlebars-template">
    <div data-frame="sellerindex_head" data-editable="1" data-edit-tab="0"></div>
    <div class="container">
        <div class="containerwrap"></div>
    </div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="1"></div>
</script>

<script id="frame_userindex" type="text/x-handlebars-template">
    <div data-frame="userindex_head" data-editable="1" data-edit-tab="0"></div>
    <div class="container">
        <div class="containerwrap"></div>
    </div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="1"></div>
</script>

<script id="frame_global" type="text/x-handlebars-template">
    <div data-frame="page_head" data-editable="1" data-edit-tab="1"></div>
    <div class="container">
        <div class="containerwrap"></div>
        <div data-frame="global_foot" data-editable="1" data-edit-tab="0"></div>
    </div>
    <div data-frame="customer_service" data-editable="1" data-edit-tab="2"></div>
</script>