<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-vertical">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">图片上传</label>
                <div class="controls control-row-auto">
                    <div class="imageList" data-pixelratio="1.5" data-sizes='["150x180","150x180","150x180","150x180"]' data-tag="list" data-value="{{json list}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>