@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
body {font-size:12px;background: #fff; color: #333333; font-family: "Microsoft YaHei",Helvetica, "STHeiti STXihei", Tohoma, Arial;line-height: 1.5;min-width: 1200px;}
button, input, select, textarea {font-size:12px;font-family: "Microsoft YaHei",Helvetica, "STHeiti STXihei", Tohoma, Arial;line-height: 1.5;}
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight: normal;}
i {font-style: normal;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new,courier,monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; color: #333333; }
a:hover { text-decoration: none; color: #c80028; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
img { vertical-align: middle; }
hr { margin: 20px 0; height: 0; background: none; border: 0 none; border-top: 1px solid #e2e1e3; }
.layout:after, .clearfix:after { display: block; content: ""; clear: both; visibility: hidden; }
.clearfix, .layout { *zoom: 1; }
.flr { float: right !important; }
.fll { float: left !important; }
.pl10 {padding-left: 10px;}
.inline-block { display: inline-block; *display: inline; *zoom: 1; }
input::-ms-clear { display: none; }
.hidden { display: none; }
.overflow {overflow: hidden;}
select { height: 30px; }
input.placeholder { color: #999;}

.textfield, textarea { width: 200px; padding: 9px 10px; }
.textfield, select {  background-color: #fff; border: solid 1px #dfdfdf; vertical-align: middle; margin: 0; }
textarea { background-color: #fff; border: solid 1px #dfdfdf; vertical-align: top; margin: 0; line-height: 18px; height: 54px;}
.filefield {position: absolute;top: 0px;right:0px;font-size: 999px;filter: alpha(opacity=0);opacity: 0;}