@charset "UTF-8";
@import "../sass/helpers/mixins";
@import "../sass/helpers/variables";

.center-layout {width: 1200px;margin: auto;padding: 20px 0;overflow: hidden;}
.center-aside {width: 210px;float: left;position: relative;z-index: 2;}
.userpic {height: 218px;background: url(../images/center-head-bg.png) no-repeat;overflow: hidden;
  .userpic-box {width:100px;height: 100px;margin:36px auto 0;overflow: hidden;@include border-radius(50%);position: relative;
    img {width:100%;height: 100%;vertical-align: top;}
    .edit-mask {width:100px;height: 100px;line-height: 100px;text-align: center;background: url(../images/userpic-box-bg.png) no-repeat;position: absolute;left:0;top:0;color: $color_white;font-size: 16px;display: none;}
    a:hover .edit-mask {display: block;}
  }
  .word {margin:10px;text-align: center;color: $color_white;display: block;overflow: hidden;}
  .signbtn {width:80px;height: 28px;line-height:28px;text-align:center;background:$color_white;color:$icon_red;display: block;margin: auto;@include border-radius(15px);}
}
/*mcmenu*/
.mcmenu {width:208px;border: 1px solid $color_grey_line;
  dl { font-size: 14px; overflow: hidden;
    &.mcmenu-closed{
      dt .arr{ background-image: url("../images/arr-up.png");}
    }
  }
  dt { position: relative; font-weight: bold; height: 40px; line-height: 40px; padding: 0 32px 0 18px; cursor: pointer;
    .arr{ position: absolute; right: 0; top: 0; width: 32px; height: 40px; background: url("../images/arr-down.png") no-repeat center;}
  }
  dd { height: 32px;
    a { display: block; height: 32px; line-height: 32px; padding-left: 28px;
      &.current { background: $color_grey_bg; background-image: none!important; color: $icon_red; }
      &:hover { text-decoration: none; background: #fafafa;}
    }
  }
}
.center-content {width:989px;border: 1px solid $color_grey_line;position: relative;margin-left: -1px;float:left;min-height: 500px;}
.content-titel {padding: 20px 30px;height: 20px;line-height: 20px;border-bottom: 1px solid $color_grey_line;margin-bottom: 10px;
  h3 {border-left:4px solid $icon_red;padding-left:15px;font-size: 20px;
    span {font-size: 14px;}
    em {padding:0 5px;}
  }
}
.required {vertical-align: top;color:$icon_red;margin-left: 5px;}
.text-grey {color:$color_grey!important;}
.center-pro-wrap {padding:70px 30px;overflow: hidden;border-bottom: 1px solid $color_grey_line;height:76px;}
.center-property {float:left;
  h3 {font-size:18px;height: 30px;margin-bottom: 10px;}
  .v-cash {
    .v-much {padding-bottom:30px;line-height: 1;font-size: 18px;color:$color_grey;display: inline-block;font-family: Arial;margin-right:20px;
      span {padding-right: 4px;font-size: 32px;color:$icon_red;}
    }
  }
  .v-button {margin-right: 20px;}
}
.privileges {float: right;overflow: hidden;
  li {display: inline-block;width:140px;text-align: center;
    span {width:60px;height: 60px;margin: auto;display: block;line-height: 60px;color: $color_white;font-size: 14px;text-align: center;@include border-radius(50%);
      &.integral-bg {background: #f1c015;}
      &.coupons-bg {background: #f6874a;}
      &.envelope-bg {background: #f55220;}
    }
    p {line-height: 40px;margin-top: 10px;color: $color_grey;
      em {font-size: 24px;color: $icon_red;margin-right:5px;font-family: Arial;}
    }
  }
}
.center-list {
  h3 {height: 21px;line-height: 21px;font-size:18px;padding:10px 30px;
    a {float: right;font-size: 14px;
      &.in {padding-left:20px;background: url(../images/icon-in.png) left center no-repeat; }
    }
  }
}
.datatb {width:100%;margin-bottom:10px;
  .nodata {height: 218px;font-size: 14px;}
  thead tr {background: url(../images/datatb-tr.png) repeat-x;}
  thead tr th:first-child {padding-left:30px;}
  tbody tr td:first-child {padding-left:30px;}
  tbody tr td {border-bottom: solid 1px $color_grey_line;}
  th {padding:10px;font-weight: normal;height: 38px;}
  td { text-align: center; padding: 10px; line-height: 22px;@include break-word;}
  th.tal, td.tal { text-align: left; }
  th.tar, td.tar { text-align: right; }
  .td-title {border: 0;
    span {margin-right: 30px;}
  }

}

.orderdatatb { width: 100%;margin-bottom: 8px; border-top: 1px solid $color_grey_line;border-bottom: 1px solid $color_grey_line;
  th { padding: 0 20px; height: 38px;background: url(../images/datatb-tr.png) repeat-x;text-align: center; font-weight: normal;
    &:first-child{padding:0 30px;}
  }
  td { text-align: center; padding: 10px; line-height: 22px; border:solid $color_grey_line; border-width: 1px; @include break-word;
    &:first-child{ border-left: 0;padding:10px 30px;}
  }
  th.tal, td.tal { text-align: left; }
  th.tar, td.tar { text-align: right; }
  .thead-border{
    th{ border-left: 1px solid $color_border;
      &:first-child{ border: 0;}
    }
  }
  td.bdn{ border-left: 0; border-right: 0;}
  .td-product{ text-align: left;}
  .td-price{ width: 80px;}
  .td-amount{ width: 30px;}
  .td-promote{ width: 100px;}
  .td-total{ width: 90px;}
  .td-status{ width: 90px;}
  .td-operate{ width:120px;}

  .nodata{ height: 218px; font-size: 14px;
    a{ color:$color_nav; margin: 0 4px;}
  }
}

.orderdatatb2 {border: none;
  td {border: none;background: $color_grey_bg;}
}

.ordertb-hd {
  div { float: left; color: #727272; font-weight: normal; margin-right: 72px; }
  em { margin-left: 12px; }
}

.datawrap {margin-bottom: 8px;
  .orderdatatb {margin-bottom: 0;
    td {padding: 0;}
    .td-promote,.td-total,.td-status,.td-operate{padding:20px 10px;vertical-align: text-top;}
  }

  .datatb-l {width: 100%;
    tr td:first-child {border-left: none;}
    td {padding:10px;border-width:1px 0 0 1px;}
    tbody tr td:first-child {padding-left: 20px;}
    tbody tr:first-child td {border-top:none;}
  }
}


.col-1 {width:126px;}
.col-2 {width: 100px;}

.section {border-top:1px solid $color_grey_line;overflow: hidden;
  li {float:left;height: 340px;width:187px;padding:30px;border-left:1px solid $color_grey_line;margin-left: -1px;}
  .pic {width:187px;height: 187px;overflow: hidden;
    img {max-height: 100%;max-width: 100%;}
    a {width: 187px;height: 187px;display: table-cell;text-align: center;vertical-align: middle;
      img {vertical-align: middle;}
    }
  }
  .name {font-weight: 400;margin: 8px 0;height: 48px;line-height: 24px;overflow: hidden;font-size: 14px;}
  .money {margin: 9px 0 15px 0;height: 28px;line-height: 28px;overflow: hidden;font-size: 14px;
    span {color:$icon_red;
      strong {font-size: 20px;font-weight: 400;}
    }
    del {color:$color_grey;}
  }
  .buy-link {display: block;width: 176px;height: 40px;border: solid 1px $public_red;color:$public_red;font-size: 16px;line-height: 40px;text-align: center;margin: 11px 0 29px 0;
    &:hover {background:$public_red;color:$color_white;}
  }
  &.section-favourite {border-top:none;position: relative;
    li {border:none;position: relative;
      &:hover .del{display: block;}
    }
    .del {line-height:30px;padding:0 10px 0 30px;height: 30px;position: absolute;top:0;right:0;background: url(../images/icon-del.png) 10px center no-repeat rgba(0,0,0,.6);color: $color_white;cursor: pointer;display: none;}
  }
}

.corder-tab {height:30px;font-size: 18px;padding:15px 30px;
  li {float: left;font-size:14px;margin-right: 46px;line-height: 29px;
    &.current a {border-bottom: 2px solid $icon_red;color: $icon_red;}
    a:hover {border-bottom: 2px solid $icon_red;}
  }
}

.title {padding: 10px 30px;overflow: hidden;line-height: 30px;
  .price-real {font-size: 18px;}
}
.mcbox {padding:10px 30px;margin-bottom: 10px;overflow: hidden; *zoom: 1; font-size: 14px;
  li {padding-bottom: 12px;position: relative;line-height: 30px;}
  .form-hd { float: left; padding-right: 5px; font-size: 14px; width: 90px; _display: inline; white-space: normal; word-break: break-all; word-wrap: break-word;}
  select {width: 86px;margin-right: 6px;}
  .textfield {width: 255px;}
  textarea { width: 255px;resize: none;}
}

.center-review {padding:20px 30px 0;}
.tbfilter { padding: 14px 30px; *zoom: 1; margin-bottom: 10px; line-height: 26px;
  label {padding: 0 5px;}
  &:after { content: ""; clear: both; height: 0; display: block; }
  .v-button {height:40px;line-height:40px;vertical-align: middle;margin-left: 10px;}
}
.input-date { width: 84px; padding-right: 25px; background: url("../images/calendar.gif") no-repeat right white; }
.nodata-content{ margin: 135px 0; text-align: center; padding-top: 140px; background: url("../images/ico-nodata.png") no-repeat top; font-size: 18px; color: $color_grey; line-height: 1.5;}

.payment {padding: 20px 30px;
  .tabbox { clear: both; border: 1px solid $color_grey_line; }
  .tabbar { border-bottom: 1px solid $color_grey_line;background:$color_grey_bg;height: 40px;
    li { border-right: 1px solid $color_grey_line;float: left;}
    a { display: block; height: 34px; line-height: 34px; padding: 3px 0; width: 120px; text-align: center; font-size: 14px; font-weight: bold; border-right: 0;
    }
    .selected {position: relative;margin-bottom: -1px;padding-bottom: 1px;background:$color_white;margin-top: -2px;border-top: 2px solid $public_red;
      a:hover {color: $color_dark3;}
    }
  }
  .v-btn {margin-top:30px;width:100px;text-align: center;height: 40px;line-height: 40px;font-size: 16px;}
}

.payform{
  .payform-item { overflow: hidden; *zoom: 1; padding: 5px 0 5px 130px;
    .message { display: block; margin-bottom: 10px; }
  }
  .payform-hd { float: left; width: 120px; margin-left: -130px; _display: inline; font-weight: bold; font-size: 14px; line-height:41px; }
  .payform-bd { line-height: 30px; font-size: 14px;}
}

.tabcon {padding: 15px;line-height: 1.5;}
.radiolist {overflow: hidden;margin-left: -10px;
  li {padding: 6px 9px 6px 40px;position: relative;line-height: 28px;display: inline-block; margin-left: 10px;}
}

.verifybox {padding:20px 15px;line-height: 1.5;
  .payform {margin-left: 20%;}
}
.m {margin-bottom: 20px;}
.order-state {background:$color_white;border-top:2px solid $icon_red;overflow: hidden;
  .state-lcol {width: 325px;float: left;padding: 20px 0 38px;text-align: center;}
  .state-rcol {margin-left:325px;border-left: 1px solid $color_border;padding: 20px 0 38px 20px;height: 150px;}
  .state-top {margin-bottom: 30px;color: $color_grey;}
  .state-txt {font: 700 24px/34px "Microsoft YaHei";color: $icon_red;}
  .state-btns {margin-top: 20px;}
}
.order-process {display: block;margin:50px 0 96px 110px;
  .node {position: relative;top: -17px;float: left;width:43px;height: 43px;margin: 0 10px;
    .node-icon {position: absolute;display: block;left: 1px;top: 0;width: 43px;height: 43px;background: url(../images/node-icons.png) no-repeat;overflow: hidden;
      &.icon-start {background-position: 0 0;}
      &.icon-pay {background-position: -54px 0;}
      &.icon-express {background-position:-162px 0;}
      &.icon-finish {background-position:-216px 0;}
    }
    &.ready {
      .node-icon {
        &.icon-start {background-position: 0 -54px;}
        &.icon-pay {background-position: -54px -54px;}
        &.icon-express {background-position:-162px -54px;}
        &.icon-finish {background-position:-216px -54px;}
      }
    }
    ul {z-index: 1;width: 189px;margin-left: -72px;position: absolute;margin-top: -38px;text-align: center;
    }
    .txt1 {height: 36px;margin-bottom: 53px;font-size: 12px;}
    .txt2 {font-size: 14px;line-height: 25px;}
    .txt3 {line-height: 15px;}
  }
  .proce {position: relative;float: left;width: 124px;height: 9px;background: url(../images/proce-icons.png) no-repeat;
    &.done {background-position: 0 -19px;}
  }
}

.order-info-mod {background:$color_white;border-top:4px solid $ft_main_border;overflow: hidden;padding: 15px 0;
  .dl {float: left;width: 260px;min-height: 260px;padding: 0 10px 0 30px;margin: 0 0 0 -1px;border-left:1px solid $color_grey_line;}
  .dt {margin-bottom: 5px;height: 24px;line-height: 24px;font-size: 14px;font-weight: 400;}
  .dd {line-height: 20px;
    p {line-height: 24px;overflow: hidden;
      span {float: left;width: 84px;display: block;}
      em {margin-left:90px;display: block;}
    }
  }
}


.order-goods {background:$color_white;
  .goods-total {display: block;padding: 20px;overflow: hidden;
    ul {float: right;}
    li {display: block;line-height: 28px;}
    .label {float: left;width: 500px;text-align: right;}
    .txt {float: left;width: 130px;text-align: right;font-family: verdana;}
    .count {font-size: 18px;font-weight: 700;}
  }
}

.comment-detail {
  .detail-hd {width: 100%;text-align: center;padding: 15px 0;
      h3 {font: 700 16px/26px "Microsoft YaHei";}
      p {color: $color_grey;line-height: 22px;}
  }
}

.comment-content {padding:0 20px;background: $color_white;overflow: hidden;
  .comment-tiem {border-top:1px solid $color_border;width:100%;overflow: hidden;margin-top: -1px;
    .fi-info {float: left;width: 322px;border-right:1px solid #f5f5f5;}
    .comment-goods {padding:30px 50px;text-align: center;line-height: 20px;
      .p-img {width: 150px;height:150px;margin: 0 auto 15px;
        a {width: 150px;height: 150px;display: table-cell;text-align: center;vertical-align: middle;
          img {vertical-align: middle;}
        }
        img {max-height: 100%;max-width: 100%;}
      }
      .p-name {margin-bottom: 10px;height: 40px;overflow: hidden;}
      .p-price {  }
    }
    .fi-operate {margin:30px 40px 0 363px;}
  }
}

.commentform {overflow: hidden;
  li {padding-left: 65px;padding-bottom: 14px;overflow: hidden;}
  .tit {float: left;width: 65px;margin-left: -65px;_display: inline;}
    textarea {width: 670px;height: 100px;margin-bottom: 5px;resize: none;}
}

.m-imgshow {width:100%;overflow: hidden;
  .thumbnail-list {float: left;width:49px;height:49px;margin:0 10px 10px 0;}
  .image-upload {width:49px;height:49px;position: relative;overflow: hidden;background: url(../images/bg-upload.png) no-repeat;cursor: pointer;}
  .upload-num {float: left;height: 49px;margin-bottom: 10px;font-family: SimSun;line-height: 49px;color:$color_grey;}
  .img {width:49px;height:49px;overflow: hidden;vertical-align: middle;line-height: 45px;font-size: 0;text-align: center;position: relative;
    &:hover {
      .operate {display:block;}
    }
    img {max-width:100%;max-height: 100%;}
  .operate {display:none;position: absolute;left: 0;top: 0;width: 49px;height: 49px;background: rgba(0,0,0,.7);filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#b3000000', endColorstr='#b3000000');text-align: center;font-size: 0;
    .del {position:absolute;width:17px;height: 17px;cursor: pointer;background: url(../images/upload_del.png);top:16px;left:16px;display: block;text-indent: -99999px;}
  }
  }
}

.f-btnbox {position: relative;height:108px;width: 100%;text-align: center;margin-top: 10px;
  .f-btnbox-wrapin {padding: 30px 0;background-color: #fff;
    &.fixed {position: fixed;z-index: 99;bottom: 0;left: 0;width: 100%;background:#ededed;}
  }
  .btn-submit {width:220px;height:48px;line-height:48px;background-color:$icon_red;overflow: hidden;color:$color_white;font-weight: 700;font-size: 16px;cursor: pointer;@include border-radius(3px);outline: none;display: block;margin: auto;
    &:hover {opacity:0.8; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
  }
}


.firsttime {padding:20px 40px;}
.firstinfo {width:100%;
  h3 {font-size: 14px;margin:20px 0;}
  li {overflow: hidden;margin-bottom:20px;position: relative;
    &.mb0 {margin-bottom: 0;}
  }
  .info {padding:40px 0;font-size: 16px;}
  .textfield {padding:9px 3px 9px 59px;width:256px;font-size: 12px;
    &.fistadd {padding: 9px 10px;width:298px;}
    &.vcode {padding:9px 85px 9px 59px;width:174px;}
  }
  .reg-text-name {position: absolute;left: 1px;top: 1px;height: 18px;line-height: 18px;padding: 8px 0 8px 8px;color: #999;}
  .reg-text-code {position: absolute;top:3px;right:5px;
    img {width:70px;height: 30px;}
  }
  select {width:100px;float: left;
    &.mostwide {width: 100%;margin-top: 5px;}
  }
  .mr6 {margin-right: 6px;}
  textarea {resize: none;margin-top: 5px;width: 298px;}
}

.reg-login-btn {height:36px; line-height:36px;text-align:center;width:100%;background:$icon_red;color:$color_white;cursor: pointer;font-size: 16px;display: block;
  &:hover {color:$color_white;}
  &.fl {float: left;width:150px;}
}
.reg-login-btn:active {background:#d73f00;}

.reg-reset-btn {width:150px;float: right;text-align:center;background:$color_white;color:$color_dark;display: block;height: 34px;line-height: 34px;border:1px solid $color_border;cursor: pointer;font-size: 16px;}
