<div class="J_Module" data-module-name="customize-richtext">
    <div class="module md-customize-richtext"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <div class="rich-media-content">{{{content}}}</div>
    </div>
</div>