//colors
$topbox_bg:#f4f4f4;
$color_white : #fff;
$color_grey_bg : #f7f7f7;
$color_grey_line : #eee;
$cart_grey_bg: #eee;
$color_border : #dfdfdf;
$color_black : #000;
$color_dark : #3c3c3c;
$color_dark3 : #333;
$color_grey : #999;
$color_grey6 : #666;
$color_orange : #ff6611;
$color_red : #f04600;
$color_light_red : #f27f7f;
$color_blue : #3399ff;
$disabled : #d2d2d2;
$color_green:#008000;
$color_nav :#f04600;
$footer_bg:#fafafa;
$ft_main_border:#dfdfdf;
$public_red:#bc383d;
$icon_red:#d42220;
$pr_title:#f8f8f8;