<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-vertical">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">五宫格菜单
                    <span class="auxiliary-text">图片统一尺寸：110*110像素</span>
                </label>
                <div class="controls control-row-auto">
                    格子背景色：<div class="colorSelect" data-value="{{bgcolor}}" data-tag="bgcolor"></div>
                </div>
                <div class="controls control-row-auto">
                    字体颜色：<div class="colorSelect" data-value="{{color}}" data-tag="color"></div>
                </div>

                <div class="controls control-row-auto">
                    <div class="settingTable" data-tag="list" data-value='{{{json list}}}'></div>
                </div>
            </div>
        </div>
    </div>
</div>