<div class="J_Module" data-module-name="auxiliary-gap">
    <div class="module md-auxiliary-gap"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <div style="height: {{height}}px;"></div>
    </div>
</div>