<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">高度</label>
                <div class="controls control-row-auto">
                    <input type="range" data-tag="height" value="{{height}}" step="5" min="5" max="100"/>
                </div>
            </div>
        </div>
    </div>
</div>