{{#with frame_setting}}
    {{#with myshop_head.data}}
        <div class="setting-tab-item" data-setting-title="头部设置">
            <div class="setting-body-in">
                <div class="form-vertical">
                    <div class="row-fluid">
                        <div class="span24">
                            <div class="control-group">
                                <label class="control-label">店铺头部图
                                    <span class="auxiliary-text">建议图片大小：1200*200像素</span>
                                </label>
                                <div class="controls control-row-auto">
                                    <div class="imageSelect" data-size="600x100" data-name="myshop_head.banner" data-tag="myshop_head.banner" data-value="{{banner}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span24">
                            <div class="control-group">
                                <label class="control-label">店铺默认名称</label>

                                <div class="controls control-row-auto">
                                    <input class="control-text input-large" type="text" placeholder="输入店铺默认名称" value="{{name}}" data-tag="myshop_head.name" id="name"/>&nbsp;
                                    <div class="fontStyler" data-tag="myshop_head.font" data-name="myshop_head.font" data-value="{{json font}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
{{/with}}