{{#with frame_setting}}
    {{#with item_detail.data}}
        <div class="setting-tab-item" data-setting-title="商品详情设置" data-frame="item_detail" data-type="1">
            <div class="setting-body-in">
                <div class="form-vertical">
                    <div class="row-fluid">
                        <div class="span24">
                            <div class="control-group">
                                <label class="control-label">商品详情左侧栏</label>
                                <div class="controls control-row-auto">
                                    <div class="tabBox">
                                        <div class="tabBoxTitle">
                                            <span class="tab-title">
                                                <label>
                                                    <input data-tag="item_detail.hotSaleLeft" name="hotSaleLeft" type="radio" value="system" {{#ifCond hotSaleLeft "==" "system"}}checked{{/ifCond}}/> 使用系统设置默认商品
                                                </label>
                                            </span>
                                            <span class="tab-title" data-child="richTextContent">
                                                <label>
                                                    <input data-tag="item_detail.hotSaleLeft" name="hotSaleLeft" type="radio" value="custom" {{#ifCond hotSaleLeft "==" "custom"}}checked{{/ifCond}}/> 自定义编辑
                                                </label>
                                            </span>
                                            <span class="tab-title">
                                                <label>
                                                    <input data-tag="item_detail.hotSaleLeft" name="hotSaleLeft" type="radio" value="none" {{#ifCond hotSaleLeft "==" "none"}}checked{{/ifCond}}/> 不使用
                                                </label>
                                            </span>
                                        </div>
                                        <div class="tab-item" data-id="richTextContent">
                                            <div class="auxiliary-text mb">自定义编辑区域大小为：宽度180px，高度不限</div>
                                            <div class="richText" data-name="item_detail.hotSaleLeftHTML" data-tag="item_detail.hotSaleLeftHTML" data-value="{{hotSaleLeftHTML}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span24">
                            <div class="control-group">
                                <label class="control-label">商品详情右侧栏</label>
                                <div class="controls control-row-auto">
                                    <div class="tabBox">
                                        <div class="tabBoxTitle">
                                            <span class="tab-title">
                                                <label>
                                                    <input data-tag="item_detail.hotSaleRight" name="hotSaleRight" type="radio" value="system" {{#ifCond hotSaleRight "==" "system"}}checked{{/ifCond}}/> 使用系统设置默认商品
                                                </label>
                                            </span>
                                            <span class="tab-title" data-child="richTextContent">
                                                <label>
                                                    <input data-tag="item_detail.hotSaleRight" name="hotSaleRight" type="radio" value="custom" {{#ifCond hotSaleRight "==" "custom"}}checked{{/ifCond}}/> 自定义编辑
                                                </label>
                                            </span>
                                            <span class="tab-title">
                                                <label>
                                                    <input data-tag="item_detail.hotSaleRight" name="hotSaleRight" type="radio" value="none" {{#ifCond hotSaleRight "==" "none"}}checked{{/ifCond}}/> 不使用
                                                </label>
                                            </span>
                                        </div>
                                        <div class="tab-item" data-id="richTextContent">
                                            <div class="auxiliary-text mb">自定义编辑区域大小为：宽度180px，高度不限</div>
                                            <div class="richText" data-name="item_detail.hotSaleRightHTML" data-tag="item_detail.hotSaleRightHTML" data-value="{{hotSaleRightHTML}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
{{/with}}