{{#with frame_setting}}
    {{#with login_page.data}}
        <div class="setting-tab-item" data-setting-title="登录页设置">
            <div class="setting-body-in">
                <div class="form-vertical">
                    <div class="row-fluid">
                        <div class="span24">
                            <div class="control-group">
                                <label class="control-label">左边广告图
                                    <span class="auxiliary-text">建议图片大小：440*370像素</span>
                                </label>
                                <div class="controls control-row-auto">
                                    <div class="img-upload-row">
                                        <div style="float: left;" data-size="220x185" class="imageSelect" data-name="login_page.loginAd" data-tag="login_page.loginAd" data-value="{{loginAd}}"></div>

                                        <div class="row-info">
                                            <div class="row">
                                                <span class="t">链接至</span>
                                                <div class="linkSelect" data-name="login_page.loginAdLink" data-tag="login_page.loginAdLink" data-value='{{{json loginAdLink}}}' data-new="true"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span24">
                            <div class="control-group">
                                <label class="control-label">登录页背景图
                                    <span class="auxiliary-text">建议图片大小：1900*570 像素</span>
                                </label>
                                <div class="controls control-row-auto">
                                    <div class="imageSelect" data-size="760x228" data-name="login_page.bgImage" data-tag="login_page.bgImage" data-value="{{bgImage}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
{{/with}}