<div class="J_Module" data-module-name="auxiliary-search">
    <div class="module md-auxiliary-search type-{{type}}"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <form action="/m/products/0.html" method="get">
            <label>搜索您想要找的宝贝</label>
            <input class="input-search" type="text" name="q">
            <button class="button-search" style="background-color: {{color}}; border-color: {{color}};">搜索</button>
        </form>
    </div>
</div>