<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">搜索样式</label>
                <div class="controls control-row-auto">
                    <div class="comboList" data-tag="type" data-value="{{type}}">
                        <div class="comboListTitle">搜索样式</div>
                        <div class="comboListMenu">
                            <ul>
                                <li value="1">样式一</li>
                                <li value="2">样式二</li>
                                <li value="3">样式三</li>
                                <li value="4">样式四</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">按钮颜色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-tag="color" data-value="{{color}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>