//colors
$color_white : #fff;
$color_grey_bg : #eeeeee;
$color_grey_line : #f0f0f0;
$color_border : #dfdfdf;
$color_black : #000;
$color_dark : #282828;
$color_grey : #888;
$color_grey6 : #666;
$color_grey9 : #999;
$color_greyc : #cccccc;
$border-color:#cccccc;
$public-color:#e7467c;
$color_green : #7cc745;
$color_pink : #ff9290;
$color_red : #f43c3c;
$color_blue :#2f8dfd;
$gift_bgcolor:#d8366d;