<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-vertical">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">文本内容</label>
                <div class="controls control-row-auto">
                    <textarea data-tag="content" placeholder="请输入文本内容">{{content}}</textarea>
                    <div class="fontStyler" data-tag="font" data-value='{{json font}}'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">链接到</label>
                <div class="controls control-row-auto">
                    <div class="linkSelect" data-tag="link" data-value='{{json link}}'></div>
                </div>
            </div>
        </div>
    </div>
</div>