<div class="J_Module" data-module-name="imgtxt-autoheight">
    <div class="module md-imgtxt-autoheight"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <a href="{{#if link.url}}{{link.url}}{{else}}javascript:void(0){{/if}}">
            <span class="img"><img class="lazyload" src="/static/mobile/images/blank.gif" data-src="{{img}}"/></span>
        </a>
    </div>
</div>