<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">上传图片</label>
                <div class="controls control-row-auto">
                    <div class="imageSelect" data-tag="img" data-value="{{img}}"></div>
                    <span class="auxiliary-text">建议图片尺寸：宽度640，高度不限</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">链接到</label>
                <div class="controls control-row-auto">
                    <div class="linkSelect" data-tag="link" data-value="{{json link}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>