<div class="J_Module" data-module-name="customize-code">
    <div class="module md-customize-code"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <style type="text/css">{{{css}}}</style>
        {{{html}}}
        <script type="text/javascript">{{{js}}}</script>
    </div>
</div>