{{!--<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">显示字段</label>
                <div class="controls control-row-auto">
                    <div class="productSwitch">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>--}}
<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label">模块背景色</label>
                <div class="controls control-row-auto">
                    <div class="colorSelect" data-value="{{modBGColor}}" data-tag="modBGColor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-vertical">
    <div class="row-fluid">
        <div class="span24">
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls control-row-auto">
                    <div class="productSelect prdSelect-col2" data-tag="list" data-value="{{json list}}" data-multiple="1">
                        <div class="prd-cell prd-cell-1"><div class="prd-item prd-item-nopic"></div></div>
                        <div class="prd-cell prd-cell-2"><div class="prd-item prd-item-nopic"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>