.bui-side-menu::-webkit-scrollbar { width:10px; height:10px; }
.bui-side-menu::-webkit-scrollbar-track-piece {background-color: #333333; }
.bui-side-menu::-webkit-scrollbar-thumb {width: 50px;height: 50px; background-color: #4b4b4b; -webkit-border-radius:4px; }
.bui-side-menu::-webkit-scrollbar-corner {background-color: #f1f1f1; }

.bui-grid-height .bui-grid-body::-webkit-scrollbar { width:10px; height:10px; }
.bui-grid-height .bui-grid-body::-webkit-scrollbar-track-piece {background-color: #FFF; }
.bui-grid-height .bui-grid-body::-webkit-scrollbar-thumb {width: 50px;height: 50px; background-color: #c1c1c1; -webkit-border-radius:4px; }
.bui-grid-height .bui-grid-body::-webkit-scrollbar-corner {background-color: #FFF; }

.privilege-listbox::-webkit-scrollbar { width:10px; height:10px; }
.privilege-listbox::-webkit-scrollbar-track-piece {background-color: #eee; }
.privilege-listbox::-webkit-scrollbar-thumb {width: 50px;height: 50px; background-color: #c1c1c1; -webkit-border-radius:4px; }
.privilege-listbox::-webkit-scrollbar-corner {background-color: #f1f1f1; }

.min-tabInfo::-webkit-scrollbar { width:10px; height:10px; }
.min-tabInfo::-webkit-scrollbar-track-piece {background-color: #ffffff; }
.min-tabInfo::-webkit-scrollbar-thumb {width: 50px;height: 50px; background-color: #7d7d7d; -webkit-border-radius:4px; }
.min-tabInfo::-webkit-scrollbar-corner {background-color: #ffffff; }

.tbody .wrap::-webkit-scrollbar { width:10px; height:10px; }
.tbody .wrap::-webkit-scrollbar-track-piece {background-color: #ffffff; }
.tbody .wrap::-webkit-scrollbar-thumb {width: 50px;height: 50px; background-color: #7d7d7d; -webkit-border-radius:4px; }
.tbody .wrap::-webkit-scrollbar-corner {background-color: #ffffff; }


.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.hide-text {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 28px;
	/* Make inputs at least the height of their button counterpart */

	/* Makes inputs behave like true block-level elements */

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}

/* inline block */
.ks-inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.ks-ext-mask {
	background-color: #333333;
	opacity: 0.5;
	filter: Alpha(opacity=50);
}

.ks-clear {
	*zoom: 1;
}

.ks-clear:before,
.ks-clear:after {
	display: table;
	content: "";
}

.ks-clear:after {
	clear: both;
}

.ks-hidden {
	display: none;
}
html{
	overflow: hidden;
}
body {
	background-color:#f2f4f8;
}

.bgwhite {background-color:#FFF;}
.red {color: #ff0000;font-size: 16px;}
iframe {
	border: none;
	padding: 0;
}

.header {
    height: 60px;
	background-color: #e3393c;
}

.header-left {
    float: left;
    width: 200px;
    height: 60px;
    overflow: hidden;
	color: #fff;
	font-family: "Microsoft YaHei";
    text-align: center;
	font-size: 24px;
	line-height: 60px;
    z-index: 99;
}
.header-left img{ vertical-align: top;}

.header-right {
    float: right;
	padding-left: 10px;
    height: 60px;
    font-size: 12px;
    color: #5a5a5a;
    z-index: 99;
}
a.exit {height:28px;line-height: 28px;margin:16px 20px 0 0;border-radius:14px;color: #FFF;background:url(../images/icon-exit.png) 15px center no-repeat rgba(0,0,0,.3);padding:0 16px 0 37px;display: block;float: right;}
a:hover.exit{text-decoration:none;}
.user {width:120px;float: right;height:28px;line-height: 28px;background:url(../images/icon-user.png) left center no-repeat;padding-left:25px; color: #FFF;margin:16px 30px 0 0;font-size: 16px;white-space: nowrap; overflow: hidden; display: block; -ms-text-overflow: ellipsis; text-overflow: ellipsis;}
.dl-links{ float: right;margin-right: 15px; display: inline;border-left: 1px solid #e6e6e6;}
.dl-links li { float: left;height: 60px;border-right: 1px solid #e6e6e6;}
.dl-link-item{ display: block; width: 48px; height: 60px; position: relative; background-position: 50% 22px; background-repeat: no-repeat; font-size: 0; text-indent: -9999px;}
.dl-link-item b{ position: absolute; right: 5px; bottom: 4px; width: 0; height: 0; border: dashed transparent; border-width: 0 0 5px 5px; border-bottom:5px solid #ccc;}
.dl-link-item i{ position: absolute; left: 26px; top: 20px; text-indent: 0; line-height: 16px; font-style: normal; background: #ff1c00; color: #fff; font-size: 12px; height: 16px; padding: 0 5px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}

.noborder {border:none;}
.noborder li {border:none;}
.dl-link-item-qdt { text-align:right;display: block; width:80px;padding-right:14px;height: 60px; line-height:60px; color:#666666;position: relative; background-position: 50% 22px; background-repeat: no-repeat; font-size: 14px; overflow: hidden;white-space: nowrap;-ms-text-overflow: ellipsis; text-overflow: ellipsis;}
.dl-link-item-qdt b{ position: absolute; right:0; top:29px; width: 0; height: 0; border: dashed transparent; border-width:5px; border-top:5px solid #999999;}
.dl-link-item-qdt i{ position: absolute; left: 26px; top: 20px; text-indent: 0; line-height: 16px; font-style: normal; background: #ff1c00; color: #fff; font-size: 12px; height: 16px; padding: 0 5px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.dl-links a:hover{
    text-decoration: none;
}

.dl-link-pc{ background-image: url("../images/ico-pc.png");}
.dl-link-mobile{ background-image: url("../images/ico-mobile.png");}
.dl-link-notify{ background-image: url("../images/ico-notify.png");}
.dl-link-user{ background-image: url("../images/ico-user.png");}
.dl-log-ddwrap{
    position: relative;
}
.dl-log-dd-qdt {width:100px;height:100px;position: absolute;top: -35px;left: -112px;z-index: 99;-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:0 1px 4px rgba(0, 0, 0, 0.2); display: none;}
.dl-log-dd-qdt .dd-arrow,.dl-log-dd-qdt .dd-arrow:after {position: absolute;display: block;width: 0;height: 0;border: 11px solid transparent;}
.dl-log-dd-qdt .dd-arrow {right: -11px;top:50%;margin:-11px -11px 0 0;border-left-color: #ecebeb;}
.dl-log-dd-qdt .dd-arrow:after {border-width: 10px;content: '';border-left-color: white;margin-right: -10px;margin-top: -10px;top: 0;right: 1px;}

.dl-log-dd{
	position: absolute;
	top: 60px;
	left: -1px;
	z-index: 99;
	border: 1px solid #cdcccc;
	background: #f7f7f7;
	display: none;
}
.dl-msg{
	position: absolute;
	top: 62px;
    left: 50%;
    height: 0;
}
.dl-msg-wrp{
    position: relative;
    margin-left: -50%;
    float: left;
    *margin-left: 0;
    *left: -50%;
}
.dl-msg-item{
	display: inline-block;
	color: #fff;
	font-size: 18px;
    line-height: 28px;
    padding: 8px 30px 8px 62px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: 26px 8px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .25);
}
.dl-msg-success{
	background-image: url("../images/ico-success.png");
    background-color: #1ab400;
}
.dl-msg-error{
    background-image: url("../images/ico-error.png");
    background-color: #ff5300;
}

.content {
	width: 100%;
}

.dl-main-nav {
	overflow: hidden;
    height: 60px;
	position: relative;
    margin: -60px 240px 0 200px;
}
.dl-main-nav .nav-list {
    width: 99999px;
	height: 60px;
	overflow: hidden;
}

.nav-list .nav-item {
	float: left;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	position: relative;
	cursor: pointer;
	margin-top: 20px;
	height: 20px;
	line-height: 20px;
}
.nav-list .nav-item-sep{
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #a8a8a8;
}

.nav-list .nav-item-inner{
	position: relative;
	padding: 20px 15px 20px;
	margin: -20px 0 -20px;
}
.dl4-hide-list .dl-hover {
	background: url('http://img04.taobaocdn.com/tps/i1/T1eQj0XndXXXXp89vi-806-614.png') no-repeat 0 0 transparent;
}

.dl4-hide-list .dl-hover {
	background-position: 8px -40px;
}

.nav-item-mask {
	display: none;
}

.nav-list .nav-item.dl-hover .nav-item-more {border-top-color: #FFFFFF;}

.dl-hide-list {
	position: absolute;
	width: 200px;
	z-index: 99;
	background-color: #FFFFFF;
	border: 1px solid #ecebeb;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:20px;

}
.dl-hide-list .ui-arrow,.dl-hide-list .ui-arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: 11px solid transparent;
}
.dl-hide-list .ui-arrow {
	top: -11px;
	right:20px;
	border-top-width: 0;
	border-bottom-color: #ecebeb;
}

.dl-hide-list .ui-arrow:after {
	border-width: 10px;
	content: '';
	border-top-width: 0;
	border-bottom-color: white;
	margin-left: -10px;
	top: 1px;
}

.dl-list-user{ margin-top: 0; width: 120px;}
.dl-hide-list .nav-item {
	float: none;
	padding: 0;
    height: 30px;
    line-height: 30px;
}

.dl-hide-list .dl-item-inner {
	background-color: #E8E9EE;
	font-size: 12px;
	color: #666;
	height: 23px;
	margin: 0 5px;
}

.dl-hide-list .nav-item:last-child {
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 4px;
	border-radius: 0 0 2px 2px;
}

.dl-hide-list .dl-last {
	padding-top: 6px;
	background-color: transparent;

}

.dl-hide-list .dl-last {
	display: none;
}

.nav-item-inner{

}
.dl-hide-list .nav-item {
	font-size: 14px;
}
.dl-hide-list .nav-item-inner{
    color: #5a5a5a;
    display: block;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
}
.dl-hide-list .nav-item:hover .nav-item-inner {

}
.dl-hide-list .first-nav-item {display: none;}

.nav-list .dl-hover .nav-item-mask, .nav-list .dl-last .nav-item-mask {

}

.nav-list .dl-selected{
	color: #fff;
}
.nav-list .dl-selected .nav-item-inner {

}

.nav-list .dl-selected .nav-item-mask {
	display: block;
}

.nav-supplychain {
	background-position: -747px -178px;
}

.dl-inform {
	width: 135px;
	float: right;
	padding-top: 10px;
	cursor: pointer;
	display: none;
}

.dl-hide-current {
	margin-left: 5px;
    vertical-align: middle;
}

.nav-item-more{ display: inline-block; margin-left: 5px; vertical-align: middle; *display: inline; *zoom: 1; width: 0; height: 0; border:solid transparent; border-width: 5px 5px 0 5px; border-top-color: #FFF;}

.dl-selected .dl-hide-current {
    border-top-color: #fff;
}

.dl-tab-content {
	width: 100%;
	height: 100%;
	background: #f2f4f8;
}

.dl-tab-item {
	width: 100%;
}

.dl-tab-item-inner {
	width: 100%;
	height: 430px;
}

.dl-second-nav,
.dl-second-tree,
.dl-inner-tab {
	height: 100%;
}

.dl-second-tree {
}

.dl-second-nav {
	float: left;
	width: 200px;
	position: relative;
}

.dl-inner-tab .dl-tab-nav {

}

.dl-second-nav .menu-container {

}

.dl-collapse .dl-second-nav {
	width: 0;
}

.dl-collapse .dl-second-tree {
    display: none;
}

.dl-collapse .menu-container {
	display: none;
}

.dl-inner-tab {
	margin: 0 0 0 205px;
}

.dl-collapse .dl-inner-tab {
	margin-left: 5px;
}

.dl-second-slib-con {
	position: absolute;
	top: 0;
	right: -15px;
	height: 100%;
	width: 15px;
	overflow: hidden;
}

/** tab 样式 **/
.dl-second-slib {
	position: absolute;
	height: 100%;
	width: 15px;
	cursor: pointer;
	top: 0;
	background: url('../images/left-slib.png') no-repeat 0 center transparent;
}

.dl-collapse .dl-second-slib {
	background-position: 100% center;
}

.dl-inner-tab .bui-nav-tab {

}

.dl-inner-tab .bui-nav-tab, .dl-inner-tab .tab-nav-inner {

}

.dl-inner-tab .tab-content-container {

}

.tab-nav-bar{
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.bui-side-menu .bui-menu-title {color: #FFF;border-top: none;padding:10px 0 10px 37px;}
.bui-side-menu .menu-leaf a {padding-left:57px;color: #FFF;background: none;}
/* 全局通知浮窗 */
.dl-msg-panel{ position: fixed; right: 15px; bottom:36px; width: 400px; background: #fff;box-shadow: 0 2px 4px rgba(11,3,6,0.08);}
.dl-msg-panel .panel-head{ height: 30px; line-height: 30px; border-bottom: 1px solid #ededed; padding: 0 10px; background: #14a0e6;color: #FFFFFF;}
.dl-msg-panel .panel-head h3{ line-height: 30px; font-weight: normal; font-size: 14px;}
.dl-msg-panel .panel-head h3 a{ color: #ef4941; text-decoration: underline; padding: 2px;}
.dl-msg-panel .panel-ctrl{ position: absolute; right: 8px; top: 4px;}
.dl-msg-panel .panel-ctrl a{ display: inline-block; vertical-align: top; width: 20px; height: 20px; line-height: 20px; text-align: center; cursor: pointer; color: #FFFFFF; margin-left: 5px;}
.dl-msg-panel .panel-ctrl a:hover{text-decoration: none;}
.dl-msg-panel .panel-toggle i{ display: inline-block; width: 0; height: 0; border: 5px solid transparent; border-bottom: 0; border-top-color: #FFFFFF;}
.dl-msg-panel .panel-close i{font-style: normal; font-weight: bold; font-size: 18px;}
.dl-msg-panel .panel-body{ padding: 5px 10px;}
.msg-list{ overflow: hidden;}
.msg-list li{ margin-top: -1px; overflow: hidden; *zoom:1; padding: 8px 5px; border-top: 1px dashed #ccc;}
.msg-list .name{ float: left; margin-right: 10px; color: #666;}
.msg-list .time{ float: left; color: #aaa;}
.msg-list .con{ clear: both; padding-top: 2px;}
.msg-list .con a{ color: #666;}
.msg-list .con a:hover{ color: #14a0e6;}
.dl-msg-panel.toggled .panel-toggle i{border-top: 0; border-bottom: 5px solid #FFFFFF;}
.dl-msg-panel.toggled .panel-body{ display: none;}
.bui-side-menu .bui-menu-topitem {display: block; height:36px;line-height:36px; text-align: center; background: #f66a5e; color: #FFFFFF; cursor: pointer; font-size: 14px;margin:14px 16px;}
.bui-side-menu .bui-menu-topitem:hover {background: #ff826e;color: #FFFFFF;}
.bui-side-menu .bui-menu-topitem:active {background: #f44a3c;}