html,body {min-height:100%;}
.page-login{ background-position:center; background-repeat:no-repeat;background-image:url(../images/page_login.jpg); background-size: cover;background-color: #0f8fd7;}
.loginWrap {background-color: rgba(3,63,157,.3);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55033f9d,endColorstr=#55033f9d);}
.loginbox h1{color: #FFF;}
.loginbtn button{background: #14a0e6;}
.loginlogo {padding-top:190px;background-image: url(../images/adminlogin_logo.png);background-position:32px 30px;}
.nav-list .dl-selected .nav-item-inner{background: #cd3236; color: #FFF;}
.dl-hide-list .nav-item:hover .nav-item-inner{background: #14a0e6; color: #fff;}
.bui-side-menu a:hover {color: #e23a3a;background: #222;}
.bui-side-menu .bui-menu-item-selected a{color: #e23a3a;background: #222;}