.side-menu { float: left; position: relative; width: 178px; border: 1px solid #ddd; overflow: hidden; }

.side-menu-search { position: relative; border-bottom: 1px solid #ddd; padding: 2px 46px 2px 11px; *zoom: 1; background: #f7f7f7; }
.side-menu-search input { width: 100%; padding: 6px; margin: 0 -7px; height: 14px; }
.side-menu-search button { position: absolute; right: 0; top: 2px; width: 39px; height: 30px; border: 0; background: url("../images/ico-search.gif") no-repeat center; text-indent: -9999px; outline: 0; }

.side-menu-wrap { overflow: auto; width: 100%; }

.tree-menu .bui-tree-item { border-bottom: 1px solid #ededed; line-height: 24px; height: 24px; padding: 5px 10px 5px 0; color: #424242; }
.tree-menu .x-tree-icon-wraper, .tree-menu .bui-tree-item a { color: #424242; vertical-align: middle; height: 24px; }
.tree-menu .x-tree-elbow-empty, .tree-menu .x-tree-elbow-expander { display: inline-block; width: 10px; height: 24px; vertical-align: middle; }
.tree-menu .root-item { font-weight: bold; }
.tree-menu .bui-tree-item-selected { background: #d8d8d8; }
.tree-menu .bui-tree-item-hover { background: #ccd7ff; }

/*.tree-menu .bui-tree-item-expanded{background: #fbfbfb;}*/
.main-content { position: relative; margin-left: 195px; overflow: auto; }

/*rebate*/
.level-box { position: relative; border: 1px solid #eeeeee; overflow: hidden; *zoom: 1; margin-bottom: 10px; font-size: 14px; }

.level-list ul { margin-top: -1px; }
.level-list li { border-top: 1px dashed #e5e5e5; padding-left: 550px; height: 88px; }

.level-formitem { padding-top: 30px; }

.level-diagram { position: relative; width: 520px; float: left; margin-left: -550px; display: inline; text-align: center; padding-top: 24px; }

.level-diagram-item { position: relative; display: inline-block; *display: inline; *zoom: 1; margin: 0 4px; overflow: hidden; width: 114px; height: 40px; line-height: 40px; color: #fff; font-size: 14px; background: #f25a5a; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.diagram-item-guide { background: url("../images/pic/guider.png") no-repeat center; }

.diagram-connect { position: absolute; top: 64px; left: 0; z-index: -1; width: 100%; height: 48px; background-repeat: no-repeat; background-position: center; }

.diagram-connect-t { background-image: url("../images/pic/level_connect_0.png"); }

.diagram-connect-m { background-image: url("../images/pic/level_connect_1.png"); }

.diagram-connect-b { background-image: url("../images/pic/level_connect_2.png"); top: -24px; }

.diagram-item-l1 { background: #ec783f; }

.diagram-item-l2 { background: #4bc28c; }

.diagram-item-l3 { background: #00bada; }

.diagram-item-l4 { background: #f44de2; }

.diagram-item-l5 { background: #46f874; }

.diagram-item-l6 { background: #464ef8; }

.diagram-item-l7 { background: #cf2e2e; }

.diagram-item-lb { background: #efd33a; }

.levelbox-title { margin: -1px 0 0 -1px; height: 50px; }
.levelbox-title h3 { float: left; background: #5f52a0; color: #fff; line-height: 48px; height: 48px; padding: 0 50px; font-size: 16px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; }

.level-pic { float: left; width: 550px; text-align: center; padding: 30px 0; }

.level-box-form { margin-left: 550px; }

/*tree*/
.tree-store .ztree { margin: 0; padding: 0; }
.tree-store .ztree li { position: relative; line-height: 30px; border-top: 1px solid #e4e5e5; }
.tree-store .ztree li ul { margin: 0; padding: 0; }
.tree-store .ztree li a { width: 100%; height: 30px; padding-top: 0px; padding-left: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tree-store .ztree li a:hover { text-decoration: none; color: #000; }
.tree-store .ztree li a span.button.switch { visibility: hidden; }
.tree-store .ztree li a.curSelectedNode { border: 0; color: #000; background: none; font-weight: bold; height: 30px; -webkit-border-radius: 0; border-radius: 0; background-clip: border-box; }
.tree-store .ztree li span { line-height: 30px; }
.tree-store .ztree li span.button { background-image: url("../images/tree.png"); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.tree-store .ztree li span.button.switch { width: 18px; height: 23px; margin-top: -7px; }
.tree-store .ztree li a.level0 { position: relative; }
.tree-store .ztree li a.level0 span.button.switch { position: absolute; visibility: visible; right: 5px; top: 8px; }
.tree-store .ztree li a.level0 span.button.switch.noline_open { background-position: -72px -30px; }
.tree-store .ztree li a.level0 span.button.switch.noline_close { background-position: -72px 0px; }
.tree-store .ztree li.level0 { background: #eee; }
.tree-store .ztree li.level1 { background: #fbfbfb; }
.tree-store .ztree li.level2 { background: #fff; border: 0; }
.tree-store .ztree li.level2 li { border: 0; }
.tree-store .ztree li.level2 span.level2.button { margin-left: 6px; background-image: url("../images/tree.png"); background-position: -54px -61px; visibility: visible; }

.tree-menu .ztree { padding: 4px 0; }
.tree-menu .ztree li { line-height: 30px; }
.tree-menu .ztree li span { line-height: 30px; height: 30px; }
.tree-menu .ztree li a { line-height: 30px; height: 30px; padding: 0 5px; }
.tree-menu .ztree li a.curSelectedNode { line-height: 30px; height: 30px; color: #3366cc; border: 0; background: none; text-decoration: underline; font-weight: bold; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.tree-menu .ztree li ul.line { background-image: url("../images/tree-line.gif"); }
.tree-menu .ztree li span.button { height: 30px; background-image: url("../images/tree.png"); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; vertical-align: top; }
.tree-menu .ztree li span.button.switch { width: 18px; height: 30px; }
.tree-menu .ztree li span.button.root_open, .tree-menu .ztree li span.button.roots_open { background-position: -36px 0; }
.tree-menu .ztree li span.button.center_open { background-position: -36px -30px; }
.tree-menu .ztree li span.button.bottom_open { background-position: -36px -60px; }
.tree-menu .ztree li span.button.root_close, .tree-menu .ztree li span.button.roots_close { background-position: -18px 0; }
.tree-menu .ztree li span.button.center_close { background-position: -18px -30px; }
.tree-menu .ztree li span.button.bottom_close { background-position: -18px -60px; }
.tree-menu .ztree li span.button.root_docu, .tree-menu .ztree li span.button.roots_docu { background-position: 0 0; }
.tree-menu .ztree li span.button.center_docu { background-position: 0 -30px; }
.tree-menu .ztree li span.button.bottom_docu { background-position: 0 -60px; }
.tree-menu .ztree li span.button.root_open.level0, .tree-menu .ztree li span.button.roots_open.level0, .tree-menu .ztree li span.button.center_open.level0, .tree-menu .ztree li span.button.bottom_open.level0 { background-position: -54px 0; }
.tree-menu .ztree li span.button.root_close.level0, .tree-menu .ztree li span.button.roots_close.level0, .tree-menu .ztree li span.button.center_close.level0, .tree-menu .ztree li span.button.bottom_close.level0 { background-position: -54px -30px; }
.tree-menu .ztree ul.level0 { padding-left: 0; }
.tree-menu .ztree li a.level1 { font-weight: bold; }
.tree-menu .ztree ul li.level1 { background: #f7f7f7; border: solid #e4e5e5; border-width: 1px 0; margin-top: -1px; }
.tree-menu .ztree ul li.level1 ul { background-color: #fff; }
.tree-menu .ztree ul.level1 { border-top: 1px solid #e4e5e5; }
.tree-menu .ztree li span.button.level0, .tree-menu .ztree li span.button.level1 { margin-left: 10px; }
.tree-menu .ztree ul.level1 { padding-left: 28px; }
.tree-menu .ztree ul.level1.line { background-position: 10px 0; }

.tree-search-result .search-back { height: 36px; line-height: 36px; border-bottom: 1px solid #e4e5e5; background: #f7f7f7; text-align: center; cursor: pointer; }
.tree-search-result .search-back span { display: inline-block; padding-left: 24px; background: url("../images/ico-back.png") no-repeat left; }
.tree-search-result .search-back:hover { background: #fbfbfb; }
.tree-search-result .search-result-list h3 { border-bottom: 1px dashed #e4e5e5; padding: 0 14px; height: 36px; line-height: 36px; font-weight: normal; }
.tree-search-result .search-result-list ul { padding: 7px 0; line-height: 24px; }
.tree-search-result .search-result-list li { cursor: pointer; padding: 0 14px; }
.tree-search-result .search-result-list li:hover, .tree-search-result .search-result-list li.selected { background: #f7f7f7; }
.tree-search-result .search-result-list em { color: #ee8100; }

.medal { display: inline-block; vertical-align: middle; width: 16px; height: 16px; font-size: 0; background: url("../images/medals.png") no-repeat; }

.medal-2 { background-position: 0 -16px; }

.medal-3 { background-position: 0 -32px; }

.medal-4 { background-position: 0 -48px; }

/*# sourceMappingURL=yradmin.css.map */
